.eduInfoForm {
    padding-bottom: 20px;
    border-bottom: 1px solid;
    margin:25px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.eduInfoForm>h2 {
    margin: 0;
    margin-bottom: 10px;
}

.eduInfoForm>input {
    margin-right: 5px;
}

.eduInfoDisplay {
    padding-right: 250px;
    padding-left: 250px;
    border-bottom: 1px solid;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: normal;
}

.eduInfoDisplay>h1 {
    margin-top: 0px;
    margin-bottom: 0px;

}

.eduInfoDisplay>div>h3 {
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}

.eduInfoItems {
    display: flex;
    flex-direction: column;
}

.eduInfoTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}

