.eduInfoForm {
    padding-bottom: 20px;
    border-bottom: 1px solid;
    margin:25px 50px 0px 50px;
}


.eduInfoForm>h2 {
    margin: 0;
    margin-bottom: 10px;
}

.eduInfoDisplay {
    padding-right: 250px;
    padding-left: 250px;
}

.eduInfoForm>input {
    margin-right: 5px;
}