.expInfoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
}

.expInfoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


.expInfoInputs{
    display: flex;
    flex-direction: column;
    gap: 5px
}

.expInfoInputContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 0px 20px 15px 20px;
}