.expInfoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px ;
}

.expInfoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


.expInfoInputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.expInfoInputContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 0px 20px 15px 20px;
}

.expInfoInputContainer>button {
    padding-left: 5px;
    padding-right: 5px;
}

.expInfoDisplay>h3 {
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}

.expInfoDisplay>h1 {
    font-size: 30px;
}

.expInfoDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid;
    padding: 0px 30px 0px 30px;
    margin-bottom: 20px;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: normal;
}
