.generalInfoForm {
    border-bottom: 1px solid;
    margin: 0px 50px 0px 50px;
    padding-bottom: 20px;
}

.generalInfoForm>input {
    margin-right: 5px;
}


.generalInfoDisplay {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    margin: 0px 50px 0px 50px;
    align-items: center;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: normal;
}

.generalInfoDisplay>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.generalInfoDisplay>h1 {
    border-bottom: 4px solid;
    margin-bottom: 0px;
}